#ControlMaster auto
#ControlPath ~/.ssh_local/socket-%r@%h:%p

ServerAliveInterval 60

    GSSAPIAuthentication yes
    GSSAPIDelegateCredentials yes

host linode
    host newark472.linode.com
    user linode237389

host es 
    hostname EISENSCHWEIN.router.upenn.edu
    ProxyCommand ssh -q wireless /bin/netcat %h 22

host dynes-magpi
    hostname dynes-sw.magpi.net
    user admin

host dynes-vag
    hostname dynes-sw.dynes.upenn.edu
    user admin

host home
    hostname home.randomcomp.net
    port 22222
