#ControlMaster auto
#ControlPath ~/.ssh_local/socket-%r@%h:%p

ServerAliveInterval 60
VerifyHostKeyDNS=yes
#host trampoline* config* *.net.isc.upenn.edu
#    ControlMaster auto
#    ControlPath ~/.ssh/cm_socket/%r@%h:%p

host *.upenn.edu
    GSSAPIAuthentication yes
    GSSAPIDelegateCredentials yes

host es 
    hostname EISENSCHWEIN.router.upenn.edu

host home
    hostname home.tallwireless.com

host repo.tallwireless.com
    port 2022
